################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/InspireEducation.API/obj/Debug/net8.0/refint/InspireEducation.API.dll
/InspireEducation.API/.vs/InspireEducation.API
/InspireEducation.API/obj/Debug/net8.0/ref/InspireEducation.API.dll
/InspireEducation.API/obj/Debug/net8.0/apphost.exe
/InspireEducation.Application/bin/Debug
/InspireEducation.API/bin/Debug/net8.0/InspireEducation.API.dll
/InspireEducation.API/bin/Debug/net8.0/InspireEducation.API.exe
/InspireEducation.API/bin/Debug/net8.0/InspireEducation.API.pdb
/InspireEducation.API/bin/Debug/net8.0/InspireEducation.Application.dll
/InspireEducation.API/bin/Debug/net8.0/InspireEducation.Application.pdb
/InspireEducation.API/bin/Debug/net8.0/InspireEducation.Core.dll
/InspireEducation.API/bin/Debug/net8.0/InspireEducation.Core.pdb
/InspireEducation.API/bin/Debug/net8.0/InspireEducation.Infrastructure.dll
/InspireEducation.API/bin/Debug/net8.0/InspireEducation.Infrastructure.pdb
/InspireEducation.Infrastructure/obj/Debug
/InspireEducation.Infrastructure/bin/Debug
/InspireEducation.Infrastructure/.vs
/InspireEducation.Application
*.json
/InspireEducation.Core/bin/Debug
/InspireEducation.Core/obj/Debug
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.AssemblyInfo.cs
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.AssemblyInfoInputs.cache
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.assets.cache
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.csproj.AssemblyReference.cache
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.csproj.BuildWithSkipAnalyzers
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.csproj.CoreCompileInputs.cache
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.csproj.FileListAbsolute.txt
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.dll
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.GeneratedMSBuildEditorConfig.editorconfig
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.genruntimeconfig.cache
/InspireEducation.API/obj/Debug/net8.0/InspireEducation.API.pdb
/InspireEducation.API/obj/InspireEducation.API.csproj.nuget.dgspec.json
/InspireEducation.API/obj/project.assets.json
/InspireEducation.API/obj/project.nuget.cache
